<h1>Operations Table</h1>
<div class="table-virtual">
  <div class="table-virtual-header-row">
    <!-- Get Icons List from - https://material.io/resources/icons/?style=baseline -->
    <p>
      <mat-icon aria-hidden="false" aria-label="Example home icon">history</mat-icon>
      <label>Recent transactions</label>
    </p>
  </div>
  <div class="table-virtual-header-columns">
    <span class="table-virtual-type-column">Type</span>
    <span class="table-virtual-volume-column">Volume</span>
    <span class="table-virtual-time-column">Time</span>
    <span class="table-virtual-sender-column">Sender</span>
  </div>
  <div>
    <cdk-virtual-scroll-viewport [itemSize]="itemSizeCount" style="height: 250px;"
      (scrolledIndexChange)="indexChanged($event,operations.operations[operations.operations.length-1])">
      <div class="table-virtual-row" *cdkVirtualFor="let item of operations.operations ; let count = count"
        style="height: 40px;">
        <span class="table-virtual-rowid-column">
          <mat-chip-list aria-label="Selection">
            <mat-chip color="primary"> {{item.type}}</mat-chip>
          </mat-chip-list>
        </span>
        <span class="table-virtual-volume-column">
          {{ item.volume*2.95 | round:'2'}} XTZ
          <span style="color: gray;">
            {{ item.volume | currency: '':'':'3.2-2' }} USD</span>
        </span>
        <span class="table-virtual-time-column">
          {{ item.time | date: "MMM dd yyyy, h:mm" }}
        </span>
        <span class="table-virtual-sender-column"> {{ item.sender | shortSender}}</span>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

</div>
